{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
   <div class="wrap2">
      <div id="register">

         <form method="post">

            <legend>Nouveau Mot de passe</legend>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password1" id="inputEmail"  placeholder="Nouveau mot de passe" required autofocus>
            <br>
            <input type="password" name="password2" id="inputEmail"  placeholder="Confirmez votre mot de passe" required autofocus>
            <br>
            <input type="submit" class="register_button" name="submitted" value="envoyer">
         </form>
      </div>
   </div>

{% endblock %}