{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}

<form method="post">

   <h1 class="h3 mb-3 font-weight-normal"></h1>
   <label for="inputPassword" class="sr-only">Mot de passe</label>
   <input type="password" name="password1" id="inputEmail" class="form-control" placeholder="New Password" required autofocus>
   <input type="password" name="password2" id="inputEmail" class="form-control" placeholder="New Password" required autofocus>

   <input type="submit" name="submitted" value="envoyer">
</form>

{% endblock %}