
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="offset-lg-4 col-lg-4">
{{ form_start(form) }}
    {{ form_widget(form) }}
      <button class="btn btn-primary col-lg-12">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>