{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <div class="movie_filter">
        <ul>
            <li>All genres</li>
            <li>All classification</li>
        </ul>
    </div>
    <div class="movie_line">
        <div class="movie_form">
            <div class="movie_poster"><img src="{{ asset('asset/img/movieaffiche/hitman_.jpg') }}" id="poster" alt="logo"></div>
            <div class="movie_date">21/12/2009</div>
            <div class="movie_score">8.75 (24)  </div>
        </div>
        <div class="movie_form">
            <div class="movie_poster"><img src="asset/img/movieaffiche/hitman_.jpg" id="poster" alt="logo"></div>
            <div class="movie_date">21/12/2009</div>
            <div class="movie_score">8.75 (24)  </div>
        </div>
    </div>

{% endblock %}
