/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For responsive */ 

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.clear:before, .clear:after{
    content: ' '; /*Espace important entre les côtes */
    display : table;
}
.clear:after{clear: both;}
.clear{*zoom:1;}
/* end */

body{
	font: 400 16px/1.3 'Roboto', 'sans-serif';		
	background-color: #282733  !important;
	color : white;
	
}
@font-face {
    font-family: "movie";
    src: url("../asset/font/Movie\ Poster\ Personal\ Use.ttf") format("truetype");
}

@font-face {
    font-family: "buble";
	src: url("../asset/font/Bubblegum.ttf") format("truetype");

}
.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

a{
	color:white;
	text-decoration: none;

}
a:hover{
	color:rgba(238, 238, 238, 0.74);
	text-decoration: none;

}
/* ///// fin reset css \\\\\\\ */

/* ///// HEADER \\\\\\\ */

.nav{
	position:relative;
}

#link_nav{
position: absolute;
top:20px;
right:10px;
}
.logo{
	position: absolute;
	top:10px;
	padding-left:10px
	
	
}
.fondHeader{
	width : 100%;	
}
#fondHeader{
	width : 100%;
}

#info_header{
	position: absolute;
	top:20%;
	left:17%;
}
#titreSite{
	font-size: 5em;
}
#relief{
	font-family: "movie",arial,sans-serif;
	color:#fff;
}
.linav{
	font-size : 29px ;
	text-align: center;
	font-weight: bold;
	float : left;
	padding : 0 20px;
}
.linav>a>i{
	padding : 0px 7px;
}


.register_button2{

	background-color: #791a1e;
	color : white;
	border : 1px solid white;
	font: 400 16px/1.3 'Roboto', 'sans-serif';
	

}
.register_button2:visited {

	background-color: #791a1e;
}
.register_button2:hover {
	color : #9b1a20;
	border : 2px solid #9b1a20;
	background-color: white !important;
	font-weight: bold;
}

.linav>a:hover{
	color: rgba(238, 238, 238, 0.8) !important;
	text-decoration: none;
}
.logo{ /* aussi dans le footer */
	font-size:30px;
	width: 25%;
	font-family: 'buble',arial,sans-serif;
	font-size: 40px;
}
.logo>a:hover,.logo2>a:hover{ /* aussi dans le footer */
	color: rgba(238, 238, 238, 0.8) !important;
	text-decoration: none;
}
.logo2{ /* aussi dans le footer */
	font-size:30px;
	width: 25%;
	font-family: 'buble',arial,sans-serif;
	font-size: 40px;
}
.logo2>a:hover,.logo2>a:hover{ /* aussi dans le footer */
	color: rgba(238, 238, 238, 0.8) !important;
	text-decoration: none;
}
.popcorn{
	width:36px;
	height:36px;	
}
.popcorn:hover{
	opacity: 0.8;
}
.img-profile{
	width:28px; 
	height:28px;
	margin-top:2px;
}
.description{
	font-size: 20px;
	margin-bottom: 10px;
}


/* ///// FIN HEADER \\\\\\\ */

/*////// DEBUT BODY:HOME /////// */
.foot{padding-top:10px}
#lib{
	padding-bottom:2%

}
#view_more{
	margin-left : 48%;
	margin-top : 50px;
	padding-bottom:2%
}
.movie_info{
height : 66px;
}

.movie_poster{
	width:100%;
	border-radius: 2px;
}

.movie_card{
	font-size: 17px;
	width : 18%;
	margin-left:2%;
	/* max-width: 10%; */
	margin-bottom: 50px;
	float: left; 
	text-align: center;
	border-radius: 2px;
	border : 1px solid white ;
}
.movie_card:hover{
	border : 2px solid #EEE; 
}
.arroundmovie {
	margin-left: -2%;
}
#movie_line{
	width:100%;
	margin-top : 70px;
	/* border : 1px solid white;  */
	text-align: center;
}
.movie_date{
	color : #93919a    
}

/*////// FIN BODY:HOME /////// */

/* ///// FOOTER \\\\\\\ */

footer{	
	width: 99%;
	position:relative;		
}
#contacts{
	padding-left:4%
}
#profil{
	padding-left:4%
}
#mentionlegales{
	padding-left:4%
}
#copyright{
	font-size:10px;
	text-align: center;
}
#logofoot{
	float : left;
	width: 32%;
	position:relative;
}
#lienfoot{
	font-size : 22px;
	width: 33%;
	float:left;
	position:relative;
	 	
}
#lienfoot>a:hover{
	color: rgba(238, 238, 238, 0.8) !important;
	text-decoration: none;
}
#reseauSoc{
	float : left;
	width: 33%;
	position:relative;
	font-size:20px;
	text-align: center;
}
#copy{
	position:relative;
	float : left;
	margin-top: 15px;
}
#fb{
	padding-left: 10%;
	font-size: 40px;
}
#twitter{
	font-size: 40px;
}


/* ///// FIN FOOTER \\\\\\\ */

/* ///// Formulaires  \\\\\\\ */
#register
{
	color : #FBFBFB;
	text-align: center;
	border: solid #791a1e;
	background-color:rgba(151, 175, 206, 0.2);
	position: relative;
	margin: auto; 
	top : 50px;	
	margin-bottom: 100px;
}

.wrap2{
	margin: 0 auto;
	
	max-width: 800px;
}


fieldset
{
	margin-bottom: 15px;
	padding: 10px;
}

legend
{
	padding: 20px 0px;
	font-weight: bold;
	font-size : 25px;
}
label
{
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}
input:focus
{
	 background: #EEE;  
}
input, textarea
{
	width: 30%;
	margin-bottom: 5px;
}
input[type="submit"]{
	padding: 1px;
	width: auto;
	font-size: 1em;
}

.register_button{

	background-color: #791a1e;
	color : white;
	border : 1px solid white;
	font: 400 16px/1.3 'Roboto', 'sans-serif';
	margin-bottom: 1%;

}
.register_button:visited {

	background-color: #791a1e;
}
.register_button:hover {
	color : #9b1a20;
	border : 2px solid #9b1a20;
	background-color: white !important;
	font-weight: bold;
}

#form_submit
{
	background-color: #791a1e;
	width: 100px;
	margin-top:2%;
	margin-bottom:2%;
}

.actors{

	color : #FBFBFB;
	text-align: center;
	border: thick double #791a1e;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	top : 50px;	
}

#actors_birth_date_day, #actors_birth_date_month, #actors_birth_date_year {
	width: 20%;
}

.movie_title{padding-left:10px;padding-right:10px}

/* ///// MENTION LEGALES \\\\\\\\ */
#infoleg{
	font-size: 35px;
	font-weight: bold;
	text-align:center
}

.titreleg{
	font-size: 25px;
	font-weight: bold;
	padding-top: 20px;
	padding-left:10%
}
.txtmentionleg{
	padding-left:5%;
	padding-right:5%
}

/* ///// FIN MENTION LEGALES \\\\\\\\ */

/* ///// AFFICHAGE PROFIL \\\\\\\\ */
.userProfil{
	width: 50%;
	height : 300px;
	margin-left: 20%;
	margin-top: 20px;
}

#avatar{
	width:200px;
	height:200px;
	border-radius: 50%;
}

.nomUser{
	font-size: 35px;
	font-weight: bold;
}
.infoUser{
	font-size: 20px;
	margin-left: 2%;
	margin-top: 20px;
}

#avatar, .infoUser{
	float: left;	
	position : relative;
}
/* ///// FIN AFFICHAGE PROFIL \\\\\\\\ */

/* ///// FORMULAIRE FRONT USERS \\\\\\\\ */
.pseudo, .mail, .password, .sexe, .birthday select, .avatarInput{
	border-radius: 5px;
	height : 30px;
}

/* ///// FIN FORMULAIRE FRONT USER \\\\\\\\ */


/* formulaire edit profil en front*/
.editprofil{
	color : #FBFBFB;
	text-align: center;
	border: thick double #791a1f;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	
}
/*fin formulaire edit profil en front*/

/*/////////////////////DEBUT FRONT FILM\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.affichefilm{
	width:40%;
	margin-left : 6%;
	float : left;
	margin-right: 6%;
}
#posterfilm{
	
	width:100%
	
}

.infofilm{
	width: 48%;
	
	
	margin-top: 50px;
	float : left;
	
	
}

#titrefilm{
	font-size: 300%;
	text-align: center
}

.iframe{
	width: 100%;
	margin-top:5%;
}
iframe{
	width: 100% !important;
}
#fichefilm{
	background-color: #0e0d11;
	
}
#lienyt{

	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  
}
#bandeannonce{
	text-align: center;
}
.retourhome{
	text-align: center;
	padding-bottom: 5%

}
/*/////////////////////FIN FRONT FILM\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/* //////////////// RESPONSIVE \\\\\\\\\\\\\\\\\\\\ */
@media screen and (min-width: 1200px){ /* Si l'écran est en dessus de 1200px */
	
	.register_button2{font-size:1.5em;width: auto;padding-left:2%;padding-right:2%}
	.affichefilm{width:35%;}
	.iframe{width:70%;margin-left:15%}
	#lienfoot{font-size:1em;}
	#copy{width:90%;}
	#logofoot{padding-left:10px}
	#info_header{font-size:0.6em;}
	.description{font-size:2.6em;}

	.register_button2{font-size:3em;width: auto}
	
	
	
	
}
@media screen and (max-width: 1200px){ /* Si l'écran est en dessous de 1200px */
	.movie_card{width:30%;margin-left:3%}
	.linav{font-size:1.5em}
	.logo2{font-size:2em;}
	.logo{width:100%;}
	#info_header{font-size:0.5em;margin-top:20px;}
	.description{font-size:2.5em;margin-top:15px}
	
	
	
	.linav{font-size:1.2em;}
	#logofoot{font-size:2em;padding-left:10px}
	#reseauSoc{font-size:2em}
	#lienfoot{font-size:0.8em;padding-top:5px}
	#copy{width:90%;}

	.affichefilm{width:40%;}
	.infofilm{width:40%;}
	.iframe{width:70%;margin-left:15%}


	.register_button{font-size:1em;width: auto;padding-bottom: 1%}
	.register_button2{font-size:3em;width: auto}
	
	
	
	
}
@media screen and (max-width: 900px){ /* Si l'écran est en dessous de 900px */
	.movie_card{width:40%;margin-left:7%}
	.linav{font-size:1.2em;}
	.logo{width:90%;}
	#info_header{font-size:0.3em;margin-top:10px;}
	.description{font-size:3em;margin-top:5px}
	.register_button{font-size:3em;width:30%;}
	
	

	#logofoot{font-size:2em;;text-align:center;width:100%;}
	#reseauSoc{width:100%;text-align:center;padding-top:10px}
	#lienfoot{width:100%;text-align:center;}
	#copy{width:90%;text-align:center}

	.affichefilm{width:88%;}
	.infofilm{width:100%;text-align:center;}
	.iframe{width:90%;margin-left:5%}

	.register_button{font-size:1em;width: auto;margin-bottom: 1%}
	.register_button2{font-size:4em;width: auto;padding-bottom: 1%;padding-left:1%;padding-right:1%}


	
}
@media screen and (max-width: 765px){ /* Si l'écran est en dessous de 1200px */
	#link_nav{display: none;}
	
	
}
@media screen and (max-width: 500px){ /* Si l'écran est en dessous de 500px */
	.movie_card{width:90%;}
	
	.linav{font-size:1.2em;}
	.logo{font-size:2em;width:100%}
	
	#info_header{font-size:0.2em;padding-top:20px;}
	.description{font-size:3.8em;}
	

	#logofoot{font-size:2em;}
	#reseauSoc{text-align: center}
	#lienfoot{text-align: center}
	#copy{text-align: center;width:90%}

	.affichefilm{width:88%;}
	.infofilm{width:100%;}
	
	iframe{width:100%;margin:0}
	.register_button2{font-size:5em;width: auto;padding-bottom: 1%;padding-left:2%;padding-right:2%}
	



	
	
	
}