/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For responsive */ 

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.clear:before, .clear:after{
    content: ' '; /*Espace important entre les côtes */
    display : table;
}
.clear:after{clear: both;}
.clear{*zoom:1;}
/* end */

body{
	font: 400 16px/1.3 'Roboto', 'sans-serif';		
	color: white;
	background-color :#1e1d25 ;
}
@font-face {
    font-family: "movie";
    src: url("../asset/font/Movie\ Poster\ Personal\ Use.ttf") format("truetype");
}

@font-face {
    font-family: "buble";
	src: url("../asset/font/Bubblegum.ttf") format("truetype");

}
.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

a{
	color:white;
}

/* ///// HEADER \\\\\\\ */

.nav{
	background-image: url('../uploads/affiches/cinéma.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height : 800px;
}
.fa-search{
	margin-top : 35px;
	position : relative;
	top : 2px;
	padding : 7px;
	background-color : #6954f8;
	border-radius: 0px 7px 7px 0px;
}
#search_bar{
	height: 30px;
	margin-top : 15px;
	border-radius: 7px 0px 0px 7px;
}
#link_nav{
	margin-left : 45%;
}
.linav, .logo{
	float: left;	
	position : relative;
	margin-left : 2%;
	
	margin-top : 20px;
}
#info_header{
	margin-top : 150px;
	margin-left : 100px;
}
#titreSite{
	font-size: 70px;

}
#relief{
	font-family: "movie",arial,sans-serif;
	
}
.linav{
	font-family: "movie",arial,sans-serif;
	font-size : 19px ;
	margin-top: 20px;
	text-align: center;
	margin-top : 40px;
	margin-right : 3%;
}

.register_button{
	width : 150px;
	height : 35px;
	background-color: #6954f8;
	color : white;
	border : 0;
	font: 400 16px/1.3 'Roboto', 'sans-serif';	
}
.register_button:visited {
	
	background-color: #6954f8;
	border : 0;
}
.logo,.logo2{ /* aussi dans le footer */
	font-size:30px;
	width: 25%;
	font-family: 'buble',arial,sans-serif;
	font-size: 40px;
}



#popcorn{
	width:36px;
	height:36px;	
}



/* ///// FIN HEADER \\\\\\\ */

/*////// DEBUT BODY:HOME /////// */
#view_more{
	margin-left : 45%;
	margin-top : 50px;
}
.movie_info{

}
.movie_poster{
	height:250px;
	width : 100%;
}
.movie_card{
	font-size: 17px;
	width : 10%;
	max-width: 10%;
	margin-right:5%;
	margin-bottom: 20px;
	float: left;
	border : 1px solid white;
}
#movie_line{
	margin-top : 70px;
	width : 88%;
	max-width: 88%;
	margin-left : 12%;
	border : 1px solid white;
}
.movie_date{
	color : #93919a    
}
#lib{
	
}
/*////// FIN BODY:HOME /////// */

/* ///// FOOTER \\\\\\\ */

.foot{
	/* Juste pour avoir un espace entre footer et header (à modifier */
	height:150px;
	border: 2px white solid;
	width: 100%;
	display: flex;
}

#twitter{
	padding-left:10%;
	height:20%;
	 
}
#fb{
	padding-left:10%
}
#contacts{
	padding-left:4%
}
#profil{
	padding-left:14%
}
#mentionlegales{
	padding-left:4%
	
}
#copyright{
	padding-left:25%;
	font-size:10px;
	
}
#logofoot{
	padding-top:2%;
	padding-left:5%;
	width:33.33333%;

}
#lienfoot{
	padding-top:2.5%;
	width:33.33%;
	font-size:12px;

}
#copy{
	padding-top:3%;
	float:right;

	width:33.33%;
}






/* ///// FIN FOOTER \\\\\\\ */

/* ///// Formulaire inscription  \\\\\\\ */
#register
{
	color : #FBFBFB;
	text-align: center;
	border: thick double #5847d0;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	top : 50px;	
	display: none;

}

.btn
{
	background-color: #6954f8;
	color: #FBFBFB;
}

button
{
	background-color: #282733;
	color:#6954f8;
	border: none
}

fieldset
{
	margin-bottom: 15px;
	padding: 10px;
}

legend
{
	padding: 0px 3px;
	font-weight: bold;
}
   
 
label
{
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

input:focus
{
	background: #eaeaea;
}
   
input, textarea
{
	width: 249px;
}
   
select
{
	width: 254px;
}
   
/* ///// fin Formulaire  \\\\\\\ */

/* ///// Debut formulaire contact \\\\\\\\ */
#contact
{
	color : #FBFBFB;
	text-align: center;
	border: thick double #5847d0;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	top : 50px;	
}

#form_submit
{
	background-color: #6954f8;
	color: #FBFBFB;
	width: 100px;
	border: none
}
/* ///// Fin formulaire contact \\\\\\\\ */
/* ///// Debut formulaire New Actors\\\\\\\\ */


/* ///// Fin formulaire New Actors \\\\\\\\ */

.actors{

	color : #FBFBFB;
	text-align: center;
	border: thick double #5847d0;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	top : 50px;	

}

#actors_birth_date_day, #actors_birth_date_month, #actors_birth_date_year {
	width: 20%;
}

/* ///// MENTION LEGALES \\\\\\\\ */
#infoleg{
	font-size: 35px;
	font-weight: bold;
}

.titreleg{
	font-size: 25px;
	font-weight: bold;
	padding-top: 20px;
}

/* ///// FIN MENTION LEGALES \\\\\\\\ */

/* ///// AFFICHAGE PROFIL \\\\\\\\ */
.userProfil{
	width: 50%;
	height : 300px;
	margin-left: 20%;
	margin-top: 20px;
	}

#avatar{
	width:200px;
	height:200px;
	border-radius: 50%;
}

.nomUser{
	font-size: 35px;
	font-weight: bold;
}
.infoUser{
	font-size: 20px;
	margin-left: 2%;
	margin-top: 20px;
}

#avatar, .infoUser{
	float: left;	
	position : relative;
}
/* ///// FIN AFFICHAGE PROFIL \\\\\\\\ */

/* ///// FORMULAIRE FRONT USERS \\\\\\\\ */
.pseudo, .mail, .password, .sexe, .birthday select, .avatarInput{
	border-radius: 5px;
	height : 30px;
}

/* ///// FIN FORMULAIRE FRONT USER \\\\\\\\ */

/* //////////////// RESPONSIVE \\\\\\\\\\\\\\\\\\\\ */
@media screen and (max-width: 900px){ /* Si l'écran est en dessous de 900px */
	
	.movie_card{width:48%;}
    
}
@media screen and (max-width: 500px){ /* Si l'écran est en dessous de 500px */
	.movie_card{width:96%;}
    #movie_line{margin-left:0;}

}
