/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* For responsive */ 

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.clear:before, .clear:after{
    content: ' '; /*Espace important entre les côtes */
    display : table;
}
.clear:after{clear: both;}
.clear{*zoom:1;}
/* end */

body{
	font: 400 16px/1.3 'Roboto', 'sans-serif';		
	color: white;
	background-color :#282733;
}

.wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

a{
	color:white;
}

/* ///// HEADER \\\\\\\ */

.nav{
	background-image: url('../asset/img/movieaffiche/batvssup.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height : 300px;
}
.fa-search{
	margin-top : 35px;
	position : relative;
	top : 1.5px;
	padding : 7px;
	background-color : #6954f8;
}
#search_bar{
	height: 30px;
	margin-top : 15px;
}
#link_nav{

	margin-left : 55%;
}
.linav, .logo{
	float: left;	
	position : relative;
	margin-left : 2%;
	margin-top : 20px;
}

.linav{
	margin-top: 20px;
	text-align: center;
	margin-top : 40px;
	margin-right : 3%;
}

.logo{ /* aussi dans le footer */
	font-size:30px;
	width: 25%;
}

#popcorn{
	width:36px;
	height:36px;	
}


/* ///// FIN HEADER \\\\\\\ */

/*////// DEBUT BODY:HOME /////// */
#poster{
	width : 200px;
	height : 250px;
}
.movie_line{
	 display: flex;
}

/*////// FIN BODY:HOME /////// */

/* ///// FOOTER \\\\\\\ */

.foot{
	margin-top: 150px; /* Juste pour avoir un espace entre footer et header (à modifier */
	border: 2px white solid;
	width: 100%;
	height : 150px;
}

.reseauSoc{
	width: 25%;
	float: left;
}

#twitter{
	padding-left: 70px;
}

.ulfoot{
	width:50%;
	float: left;
	padding-top: 10px;
}

.lifoot{
	float: left;
	width : 20%;
	height: 50px;
	position:relative;
}

#copyright{
	font-size:10px;
	padding-top: 30px;
}
/* ///// FIN FOOTER \\\\\\\ */

/* ///// Formulaire inscription  \\\\\\\ */
#register
{
	color : #FBFBFB;
	text-align: center;
	border: thick double #5847d0;
	background-color:rgba(151, 175, 206, 0.2);
	width: 40%;
	position: relative;
	margin: auto; 
	top : 50px;	
	display: none;
}

.btn
{
	background-color: #6954f8;
	color: #FBFBFB;
}

button
{
	background-color: #282733;
	color:#6954f8;
	border: none
}

fieldset
{
	margin-bottom: 15px;
	padding: 10px;
}

legend
{
	padding: 0px 3px;
	font-weight: bold;
}
   
 
label
{
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}

input:focus
{
	background: #eaeaea;
}
   
input, textarea
{
	width: 249px;
}
   
select
{
	width: 254px;
}
   
/* ///// fin Formulaire  \\\\\\\ */

/* ///// MENTION LEGALES \\\\\\\\ */
#infoleg{
	font-size: 35px;
	font-weight: bold;
}

.titreleg{
	font-size: 25px;
	font-weight: bold;
	padding-top: 20px;
}

/* ///// FIN MENTION LEGALES \\\\\\\\ */


/* //////////////// RESPONSIVE \\\\\\\\\\\\\\\\\\\\ */
@media screen and (max-width: 900px){ /* Si l'écran est en dessous de 900px */
	
/*ne pas toucher */
    
}
@media screen and (max-width: 500px){ /* Si l'écran est en dessous de 500px */


}