{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="wrap2">
<div id="register">
    <legend>Contact</legend>

    {{ form(form) }}
</div>
</div>
    

{% endblock %}