{% extends 'base.html.twig' %}

{% block title %}Profil Edit{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/style.css') }}">{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Valider</button>
{{ form_end(form) }}



{% endblock %}