<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        

         <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        {% block stylesheets %}{% endblock %}
        

    </head>

    <body>
        <!--------------- HEADER ---------------->
        <header >
            <div class="nav">               
                <div class="logo"> M<img src="asset/img/popcornlogo.png" id="popcorn" alt="logo">VIE BUSTER </div>
                <ul class="ulnav">                    
                    <li class="linav"><a href="">HOME</a></li>
                    <li class="linav"><a href="">CONTACT</a></li>
                    <li class="linav" ><input type="text" placeholder="Search.."></li>
                </ul>
            </div>            

        </header>
        <!--------------- FIN HEADER ---------------->
        
        {% block body %}{% endblock %}
        

        <!--------------- FOOTER ---------------->
        <footer>
            <div class="foot">
                <div class="logo"> M<img src="asset/img/popcornlogo.png" id="popcorn" alt="logo">VIE BUSTER </div>
                <div class="reseauSoc">
                <img src="asset/img/icon-facebook.png" id="fb" alt="fb">
                <img src="asset/img/icon-twitter.png" id="twitter" alt="twitter">
                </div>

                <ul class="ulfoot">                    
                    <li class="lifoot"><a href="">HOME</a></li>
                    <li class="lifoot"><a href="">CONTACT</a></li>
                    <li class="lifoot"><a href="">Mention légale</a></li>                
                </ul>

                <p id="copyright"> ©moviebuster 2019 - TOUS DROITS RÉSERVÉS     Création du site : Webforce3 -> DIMMI Clément - COLOMBIER Maxime - MAUROUARD Benjamin - PAUL Mellissa  </p>
            </div>
        </footer>

        <!--------------- FIN FOOTER ---------------->


        <script src="{{ asset('asset/script.js') }}">
    {% block script %}{% endblock %}

    </body>
</html>
